<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/header.css" type="text/css">
    <link rel="stylesheet" href="/uploaded.css" type="text/css">
    <link rel="stylesheet" href="/findfilestyle.css" type="text/css">

    <title>Home</title>
</head>

<body>
    <header>Welcome to File Sharing App</header>
    <section>
        <div>
            <% if (found) { %>
            <h1>Title: <%= title %> </h1>
            <p>File ID: <%= downloadid %> </p>
            <a href="/download/<%= downloadid %>" ><button>Download</button></a>
            <% } else { %>
            <h1 style="color: tomato;">Your Requested File is not found</h1>
                <% } %> 
            
        </div>
    </section>

</body>

</html>