<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/header.css" type="text/css">
    <link rel="stylesheet" href="/homestyle.css" type="text/css">

    <title>Home</title>
</head>
<body>
    <header>Welcome to File Sharing App</header>
    <section>
        <div class="input-div">
            <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="text" name="filetitle" id="filetitle" placeholder="Title" required>
            <div class="dragfile" >Drag file or <br> <label for="fileINP">Browse</label> </div>
            <input type="file" id="fileINP" name="file" style="display: none;" required>
            <input type="submit" value="Upload">
            </form>
        </div>
        
    </section>

</body>
</html>